@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Ubuntu&display=swap');

* {
    margin:0;
    padding:0;
    border:none;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    min-height: 100vh;
    /* padding: 30px; */
}

/* styling logo and menu  */

#header-wrapper{
    height: 85vh;
    background-image:linear-gradient(to right bottom,
    rgba(159, 192, 136, .8),
    rgba(232, 192, 125, .8)), 
    url(../images/truck-2677373.jpg);
    background-size: cover;
    position: relative;
    clip-path: polygon(0 0, 100% 0%, 100% 95%, 0% 100%);    
    background-position:bottom;
}

#logo-wrapper{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#logo{
    text-transform: uppercase;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing:.5rem;
    color: #614124;
    animation: moveInLeft 1s ease-out;
}

@keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(-10rem); }
    80% {
      transform: translateX(1rem); }
    100% {
      opacity: 1;
      transform: translate(0); } 
    }

#logo-wrapper a {
    text-decoration: none;
    
}

.logo-title {
    text-align: center;
    font-size: 3rem;
    color: #614124;
    animation: moveInRight 1s ease-out;
}

 
@keyframes moveInRight {
    0% {
      opacity: 0;
      transform: translateX(10rem); }
    80% {
      transform: translateX(-1rem); }
    100% {
      opacity: 1;
      transform: translate(0); } 
    }

span {
    padding: 1.8rem;
    font-size: 1.8rem;
    color: #614124;
}

.logo-left {
    animation:  moveInText 1s ease-in 0.1s;
}
.logo-center {
    animation:  moveInText 2s ease-in 0.1s;
}
.logo-right {
    animation:  moveInText 3s ease-in 0.1s;
}

@keyframes moveInText {
    0% {
      opacity: 0;
      transform: translateY(3rem); }
    100% {
      opacity: 1;
      transform: translate(0); } 
}

#header-wrapper > img {
    position: absolute;
    left:3rem;
    top:3rem;
    height: 8rem;
    width: 12rem;
}

#menu {
    font-size: 1.7rem;
    letter-spacing: 0.3rem;
    float: right;
    position: absolute;
    top: 3rem;
    right: 3rem;
}


#menu li {
    float:right;
    list-style-type: none;
    padding: 2.5rem;
}

#menu a {
    text-decoration: none;
    color: #614124;
}

#menu a:hover, .active {
    border-bottom: 1px solid #614124;
    font-size: 1.8rem;
}

.btn:link, .btn:visited{
    text-transform: uppercase;
    text-decoration: none;
    color: #614124;
    background-color: #fff;
    padding:1rem 2.5rem;
    font-size: 2rem;
    margin-top: 6rem;
    border-radius: 10rem;
    transition: all .2s;
}

.btn:hover{
    transform: translateY(-.4rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .4);
}
.btn:active{
    transform: translateY(-.2rem);
}

/* carousel */

#carousel-bg {
    padding: 3rem;
    margin:3rem 0 1rem 0;
}

.carousel-inner {
    height: 70rem;
}

.carousel-inner img {
    height: 70rem;
    object-fit: contain;
}

/* main content */

#main {
    background-color: #E8C07D; 
    padding: 3rem;
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%);
}

#title {
    padding: 8rem;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    text-decoration: underline;
    color: #614124;
}

#main-content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 7rem;
}

#main-content > div {
    padding: 3rem;
    width: 33%;
    background-color: #fff;
}

#main-content > div:hover {
    transform: translate(0, -2rem);
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, .4);
}

#main-content > div > h3 {
    text-align: center;
    color: #614124;
    font-size: 2.5rem;
}

#main-content > div > p {
    text-align: center;
    font-size: 2rem;
    font-style: italic;
    color: #614124;
}


/* our services */

#services {
    clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 100%);
    background-image:linear-gradient(to top,
    rgba(159, 192, 136, .8),
    rgba(232, 192, 125, .8)), 
    url(../images/tir-img1.jpg);
    background-size: cover;
    padding: 5rem;
}

.services-title {
    text-align: center;
    text-transform: uppercase;
    padding: 10rem 0 4rem 0;
    font-family: 'Nunito';
    font-size: 3rem;
    font-weight: bold;
    color: #614124;
}

#individuals-wrapper {
    background-color: rgba(255, 255, 255, .6);
    color: #614124;
    width: 80%;
    margin:5rem auto;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    padding: 5rem;
}

#companies-wrapper {
    background-color: rgba(255, 255, 255, .6);
    color: #614124;
    width: 80%;
    margin:5rem auto;
    clip-path: polygon(0 0, 75% 0, 100% 100%, 25% 100%);
    padding: 5rem;
}

#individuals, #companies {
    display:flex;
    justify-content: space-around;
    width: 100%;
}

.individuals-title, .companies-title {
    text-align: center;
    padding:3rem 0; 
    text-transform: capitalize;
    font-size: 4rem;
}

.text-bold {
    font-weight: bold;
    font-size: 2rem;
    margin:0 4rem;
    float: left;
}


/* footer */

footer {
    width: 100%;
    background-color: #614124;
    color: #fff;
    position: absolute;
    
}

.email > p {
    font-size: 3rem;
    text-align: center;
    padding: 4rem 0;
}

#social-networks li {
    list-style-type: none;
    font-size: 4rem;
    display: inline-block;
    padding: 1rem 10rem;
}

#social-networks ul {
    text-align: center;
}

#social-networks a {
    text-decoration: none;
    color: #fff;
}

#social-networks li:hover{
    transform: translate(0, -1rem);
}

/* gallery section */

#photos{
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
    padding: 18rem 5rem ;
}

.photos-bg{
    min-height: 100vh;
    background-color: #E8C07D;
    clip-path: polygon(0 0, 100% 5%, 100% 100%, 0% 100%);
    margin-bottom: 5rem;
}

#photos > img {
    width: 100%;
}

/* contact */

#formular {
    background-color: rgba(232, 193, 125, 0.6);
    clip-path: polygon(0 0, 100% 5%, 100% 100%, 0% 100%);
    min-height: 100vh;
    padding-top:15rem;
    width: 100%;
    
}

#formular h2{
    font-size: 5rem;
    text-align: center;
    color:#614124;
    font-family: 'Ubuntu';
}

#form-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 10rem;
}

#form-img{
    width: 40%;
    text-align: center;
    border-right: .2rem solid #000;
}

#form-img > img {
    height: auto;
    width: 80%;
    margin:5rem auto;
    border-radius: 30px;
}

#form-img > img:hover{
    transform:rotateY(180deg);
}

#form-content{
    width: 60%;
    margin-left: 10rem;
    padding: 5rem;
}

#form-elements {
    width: 50%;
    color:#614124;
    font-size:2rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#form-elements > textarea {
    border: 1px solid #000;
}
.align {
    text-align: center;
}

input{
    height: 3rem;
    border: 1px solid #000;
}

#submit {
    margin:2rem auto;
    background-color: #614124;
    border-radius: 4rem;
    width: 12rem;
    height: 4rem;
    color :#fff;
    margin-bottom: 1rem;
}

#submit:hover{
    background-color: #fff;
    color:#614124;
    border: 1px solid #614124;
}
 
iframe{
    width: 100%;
    height: 50rem;
    margin-top: 5rem; 
    padding-top: 10rem;  
}

 /* For larger to medium screens size from 1200px wide and down */ 
 @media screen and (max-width: 1200px){
    .individuals-title, .companies-title{
        font-size: 3rem;
    }
    .text-bold{
        font-size: 1.5rem;
    }
    #individuals-wrapper {
        clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
    }
    #companies-wrapper {
        clip-path: polygon(0 0, 85% 0, 100% 100%, 15% 100%);
        padding:5rem 2rem;
    }
    #form-elements {
        width: 100%;
    }
    #formular{
        clip-path: polygon(0 0, 100% 5%, 100% 100%, 0% 100%);
    }
 }

/* for medium screen size from 950 px wide and down */

@media screen and (max-width: 950px){
    #header-wrapper > img {
        height: 4rem;
        width: 8rem;
        top:3.5rem;
        left:3.5rem;
    }
    #logo{
        font-size: 3.5rem;
    }
    .logo-title {
        font-size: 2.5rem;
    }
    .btn:link, .btn:visited{
        font-size: 1.5rem;
        padding: .8rem 2rem;
    }
    #social-networks li {
        font-size: 3.5rem;
        padding: 1rem 8rem;
    }
    #photos{
        padding:18rem 0;
    }
    #formular h2{
        font-size: 4rem;
    }
    #form-img{
        border:none;
    }
    #form-img img{
        height: 80%;
    }
    span{
        padding: 1rem;
        font-size: 1.5rem;
    }
    
}

/* for medium screen size from 800 px wide and down */

@media screen and (max-width: 800px){
    span{
        padding: 1rem;
        font-size: 1.2rem;
    }
    .text-bold{
        margin: .8rem 1.6rem;
        font-size: 1.3rem;
    }
    .individuals-title, .companies-title{
        font-size: 2rem;
    }
    #individuals-wrapper, #companies-wrapper{
        padding: 1rem;
    }
    .services-title {
        font-size: 1.8rem;
    }
    #header-wrapper{
        clip-path: polygon(0 0, 100% 0%, 100% 95%, 0% 100%);
    }
    #main{
        clip-path: polygon(0 0, 100% 5%, 100% 100%, 0% 100%);
    }
    #services{
        clip-path: polygon(0% 5%, 100% 0%, 100% 100%, 0% 100%);
    }
    #social-networks li {
        font-size: 3rem;
        padding: 1rem 6rem;
    }
    .email > p{
        font-size: 2.5rem;
    }
    #main-content{
        display: block;
        width: 100%;
    }
    #main-content > div{
        width: 100%;
        margin-top: 3rem;
    }
    #individuals-wrapper {
        clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
    }
    #companies-wrapper {
        clip-path: polygon(0 0, 95% 0, 100% 100%, 5% 100%);
        padding:1rem .2rem;
    }
    #photos{
        column-count: 2;
    }
    .photos-bg{
        clip-path: polygon(0 0, 100% 3%, 100% 100%, 0% 100%);
    }
    #formular h2{
        font-size: 3rem;
    }
    #title {
        font-size: 2.5rem;
    }
}

/* for medium screen size from 700 px wide and down */
@media screen and (max-width: 700px){
    #header-wrapper img{
        left:50%;
        top:10%;
        transform: translate(-50%, -50%);
        width: 18rem;
        height: 8rem;
    }
    #menu{
        top:15%;
        font-size: 1.2rem;
    }
    #menu a:hover, .active {
        border-bottom: 1px solid #614124;
        font-size: 1.2rem;
    }
    #logo{
        font-size: 2rem;
    }
    .logo-title{
        font-size: 1.4rem;
    }
    span{
        padding: .1rem;
        font-size: .9rem;
    }
    .btn:link, .btn:visited{
        font-size: 1rem;
        padding: .4rem 1rem;
    }
    #header-wrapper{
        clip-path: polygon(0 0, 100% 0%, 100% 98%, 0% 100%);
    }
    #main{
        clip-path: polygon(0 0, 100% 2%, 100% 100%, 0% 100%);
    }
    #services{
        clip-path: polygon(0% 2%, 100% 0%, 100% 100%, 0% 100%);
    }
    #individuals-wrapper {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
    #companies-wrapper {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        padding:1rem .2rem;
    }
    #title {
        font-size: 2rem;
        padding: 5rem 0;
    }
    .services-title {
        font-size: 1.4rem;
        padding: 5rem 0;
    }
    .carousel-inner {
        height: 30rem;
    }
    
    .carousel-inner img {
        height: 30rem;
    }
    .email > p{
        font-size: 1.5rem;
    }
    #social-networks li {
        font-size: 2rem;
        padding: 1rem 3rem;
    }
    #form-img{
        display: none;
    }
    #form-content{
        width: 100%;
        margin: 0 auto;
    }
    #formular{
        clip-path: polygon(0 0, 100% 2%, 100% 100%, 0% 100%);
    }
}