@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Ubuntu&display=swap');

* {
    margin:0;
    padding:0;
    border:none;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    min-height: 100vh;
    /* padding: 30px; */
}

/* styling logo and menu  */

#header-wrapper{
    height: 85vh;
    background-image:linear-gradient(to right bottom,
    rgba(159, 192, 136, .8),
    rgba(232, 192, 125, .8)), 
    url(../images/truck-2677373.jpg);
    background-size: cover;
    position: relative;
    clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);    
    background-position:bottom;
}

#logo-wrapper{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#logo{
    text-transform: uppercase;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing:.5rem;
    color: #614124;
    animation: moveInLeft 1s ease-out;
}

@keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(-10rem); }
    80% {
      transform: translateX(1rem); }
    100% {
      opacity: 1;
      transform: translate(0); } 
    }

#logo-wrapper a {
    text-decoration: none;
    
}

.logo-title {
    text-align: center;
    font-size: 3rem;
    color: #614124;
    animation: moveInRight 1s ease-out;
}

 
@keyframes moveInRight {
    0% {
      opacity: 0;
      transform: translateX(10rem); }
    80% {
      transform: translateX(-1rem); }
    100% {
      opacity: 1;
      transform: translate(0); } 
    }

span {
    padding: 1.8rem;
    font-size: 1.8rem;
    color: #614124;
}

.logo-left {
    animation:  moveInText 1s ease-in 0.1s;
}
.logo-center {
    animation:  moveInText 2s ease-in 0.1s;
}
.logo-right {
    animation:  moveInText 3s ease-in 0.1s;
}

@keyframes moveInText {
    0% {
      opacity: 0;
      transform: translateY(3rem); }
    100% {
      opacity: 1;
      transform: translate(0); } 
}

#header-wrapper > img {
    position: absolute;
    left:3rem;
    top:3rem;
}

#menu {
    font-size: 1.7rem;
    letter-spacing: 0.3rem;
    float: right;
    position: absolute;
    top: 3rem;
    right: 3rem;
}


#menu li {
    float:right;
    list-style-type: none;
    padding: 2.5rem;
}

#menu a {
    text-decoration: none;
    color: #614124;
}

#menu a:hover, .active {
    border-bottom: 1px solid #614124;
    font-size: 1.8rem;
}

.btn:link, .btn:visited{
    text-transform: uppercase;
    text-decoration: none;
    color: #614124;
    background-color: #fff;
    padding:1rem 2.5rem;
    font-size: 2rem;
    margin-top: 6rem;
    border-radius: 10rem;
    transition: all .2s;
}

.btn:hover{
    transform: translateY(-.4rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .4);
}
.btn:active{
    transform: translateY(-.2rem);
}

/* carousel */

#carousel-bg {
    padding: 3rem;
    margin:3rem 0 1rem 0;
}

.carousel-inner {
    height: 70rem;
}

.carousel-inner img {
    height: 70rem;
    object-fit: contain;
}

/* main content */

#main {
    background-color: #E8C07D; 
    padding: 3rem;
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%);
}

#title {
    padding: 8rem;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    text-decoration: underline;
    color: #614124;
}

#main-content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 7rem;
}

#main-content > div {
    padding: 3rem;
    width: 33%;
    background-color: #fff;
}

#main-content > div:hover {
    transform: translate(0, -2rem);
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, .4);
}

#main-content > div > h3 {
    text-align: center;
    color: #614124;
    font-size: 2.5rem;
}

#main-content > div > p {
    text-align: center;
    font-size: 2rem;
    font-style: italic;
    color: #614124;
}


/* our services */

#services {
    clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 100%);
    background-image:linear-gradient(to top,
    rgba(159, 192, 136, .8),
    rgba(232, 192, 125, .8)), 
    url(../images/tir-img1.jpg);
    background-size: cover;
    padding: 5rem;
}

.services-title {
    text-align: center;
    text-transform: uppercase;
    padding: 10rem 0 4rem 0;
    font-family: 'Nunito';
    font-size: 3rem;
    font-weight: bold;
    color: #614124;
}

#individuals-wrapper {
    background-color: rgba(255, 255, 255, .6);
    color: #614124;
    width: 80%;
    margin:5rem auto;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    padding: 5rem;
}

#companies-wrapper {
    background-color: rgba(255, 255, 255, .6);
    color: #614124;
    width: 80%;
    margin:5rem auto;
    clip-path: polygon(0 0, 75% 0, 100% 100%, 25% 100%);
    padding: 5rem;
}

#individuals {
    display:flex;
    justify-content: space-around;
    width: 100%;
}

.individuals-title {
    text-align: center;
    padding:30px 0 30px 0; 
    text-transform: capitalize;
    font-size: 40px;
}

.text-bold {
    font-weight: bold;
    font-size: 2rem;
    margin:0 4rem;
    float: left;
}

#companies {
    display: flex;
    justify-content: space-around;
}

.companies-title {
    text-align: center;
    padding:30px 0 30px 0; 
    text-transform: capitalize;
    font-size: 40px;
}


/* footer */

footer {
    width: 100%;
    background-color: #614124;
    color: #fff;
    position: absolute;
    
}

.email > p {
    font-size: 3rem;
    text-align: center;
    padding: 4rem 0;
}


#social-networks li {
    list-style-type: none;
    font-size: 4rem;
    display: inline-block;
    padding: 1rem 10rem;
}
#social-networks ul {
    text-align: center;
}

#social-networks a {
    text-decoration: none;
    color: #fff;
}

/* gallery section */

#photos{
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
    min-height: 100vh;
    background-color: rgba(191, 191, 191, 0.3);
}

#photos > img {
    width: 100%;
}

/* contact */

#formular {
    background-color: rgba(246, 255, 222, 0.859);
    min-height: 100vh;
    padding-top: 100px;
    width: 100%;
    
}

#formular h2{
    font-size: 50px;
    text-align: center;
    color: #3a3a3a;
    font-family: 'Ubuntu';
}

#form-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

#form-img{
    width: 40%;
    text-align: center;
    border-right: 3px solid #3a3a3a;
}

#form-img > img {
    height: 700px;
    width: 500px;
    margin:50px auto;
    border-radius: 30px;
}

#form-content{
    width: 60%;
    margin-left: 100px;
    padding: 50px;
}

#form-elements {
    width: 50%;
    color:#3a3a3a;
    font-size:20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#form-elements > textarea {
    border: 1px solid #000;
}
.align {
    text-align: center;
    margin-left: 10px; 
    width: 100%;  
}

input{
    height: 30px;
    border: 1px solid #000;
}

#submit {
    margin:20px auto;
    background-color: #3a3a3a;
    border-radius: 40px;
    width: 120px;
    height: 40px;
    color :#fff;
    margin-bottom: 10px;
}

#submit:hover{
    background-color: #fff;
    color:#3a3a3a;
    border: 1px solid #3a3a3a;
}
 

 /* For larger to medium screens size from 1440px wide and down */ 
/*  
 @media screen and (max-width: 1440px){
     #logo{
         font-size: 200%;
         line-height:50px;
         margin-left: 15px;
     }
     #logo-wrapper > img{
         width: 150px;
     }
     .email > p {
        font-size: 25px;
        margin: 50px auto;
    }
    #social-networks a {
        padding:40px;
        font-size: 30px;
    }
    #form-elements {
        width: 100%;
        font-size:20px; 
    }
    #form-content{
        width: 50%;
    }
    #form-img{
        width: 50%;
    }
 } */

 /* For larger to medium screens size from 1200px wide and down */

 /* @media screen and (max-width: 1200px){
    #logo{
        font-size: 160%;
        line-height:50px;
        margin-left: 10px;
    }
    #logo-wrapper > img{
        width: 80px;
        height: 50px;
        margin:0;
    }
    #menu{
        font-size: 100%;
        letter-spacing: 2px;
        line-height: 10px;
    }
    .email > p {
        font-size: 20px;
        margin: 50px auto;
    }
    #social-networks a {
        padding:20px;
        font-size: 25px;
    }
    .services-title{
        font-size: 170%;
    }
    .text-bold{
        font-weight: normal;
        font-size: 15px;
    }
    #img-right{
        width: 350px;
    }
    #form-content{
        width: 50%;
    }
    #form-img{
        width: 50%;
        border: none;
        margin-left: 40px;
    }
    #form-img > img {
        width: 100%;
        
    }
 } */

  /* For larger to medium screens size from 950px wide and down */

/* @media screen and (max-width: 950px){
    #header-wrapper{
        display: block;
        padding: 10px;
    }
    #logo-wrapper > img {
        float:right;
        width: 150px;
    }
    #logo{
        font-size: 200%;
    }
    #menu {
        margin-right: 20%;
    }
    #title {
        font-size: 200%;
    }
    #main-content {
        display: block;
    }
    #main-content > div {
        width: 100%;
        margin: 5px auto;
    }
    .email > p {
        font-size: 15px;
        margin: 50px auto;
    }
    #social-networks a {
        padding:10px;
        font-size: 15px;
    }
    #photos {
        column-count: 2;
    }
} */

 /* For larger to medium screens size from 750px wide and down */

 /* @media screen and (max-width:750px){
     #logo {
         font-size: 100%;
     }
     #logo-wrapper > img {
        float:right;
        width: 80px;
    }
    #menu li {
        padding: 7px;
        font-size: 10px;
        letter-spacing: 1px;
    }
    #title{
        font-size: 100%;
    }
    #img-wrapper{
        display: block;
    }
    #left, #center, #right{
        width: 100%;
    }
    footer{
        flex-direction: column;
        height: 100px;
    }
    .email > p {
        font-size: 10px;
        margin:10px 25%;
    }
    #social-networks{
        width: 100%;
       height: auto;
    }
    #social-networks a {
        padding:0;
        font-size: 10px;
        
    }
    #social-networks ul{
        margin:10px 25%;
        padding: 5px;
    }
    #social-networks li{
        
        padding: 0;
        margin: 17px;
    }
    .services-title{
        font-size: 100%;
    }
    .individuals-title, .companies-title{
        font-size: 100%;
    }
    #img-center, #img-right{
        display: none;
    }
    .text-bold{
        margin-top: 10px;
        font-size: 10px;
    }
    #formular > h2 {
        font-size: 120%;
    }
    #form-wrapper{
        margin:0 auto;
    }
    #form-img{
        display: none;
    }
    #form-content{
        width: 100%;
        margin:0 auto;
    }
 }
   */